<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body style="font-family: sans-serif; max-width: 300px; margin: 50px auto;">
    <h2>Entrar</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="width: 100%; padding: 10px; cursor: pointer;">Acessar</button>
    </form>
    <a href="{% url 'register' %}">Criar Conta</a>

    <script>
        // Script na sua página web (Django)
        const urlAtualDoServidor = window.location.origin;

        // Dispara uma mensagem genérica na janela
        window.postMessage({
            type: "CONFIGURAR_WALLET_SYNC",
            url: urlAtualDoServidor
        }, "*");

        console.log("Mensagem de configuração enviada pela página.");
    </script>
</body>

</html>